---
pagination:
  data: contentful
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "pages/{{ page.slug | slug }}/"
tags: "page"
layout: pages.liquid
eleventyComputed:
  title: "{{ page.title}}"
---

<h1>
  {{ page.title }}
</h1>

<h2>{{ page.date | date : "%Y-%m-%d" }}</h2>

<img
  class="u-max-full-width"
  src="{{ page.imageUrl }}"
  alt="{{ page.title }}"
  loading="lazy"
/>

{{ page.body }}
